<h2>Ближайшие дни рождения</h2>
<form method="post">
<div class="container">
  <div class="row">
    <div class="col">
      <ul>
          <% @mass_birthday.each do |person| %>
          <li class="card-text" id=surname name=surname><%= "Фамилия: #{person.surname}" %></li>
          <li class="card-text" id=name name=name><%= "Имя: #{person.name}" %></li>
          <li class="card-text" id=patronymic name=patronymic><%= "Отчество: #{person.m_name}" %></li>
          <li class="card-text" id=gender name=gender><%= "Пол: #{person.sex_person}" %></li>
          <li class="card-text" id=date name=date><%= "Дата рождения: #{person.date}" %></li>
          <li class="card-text" id=cell name=cell><%= "Сотовый номер: #{person.cell_phone}" %></li>
          <li class="card-text" id=home name=home><%= "Домашний номер: #{person.home_phone}" %></li>
          <li class="card-text" id=address name=address><%= "Адрес: #{person.address}" %></li>
          <li class="card-text" id=status name=status><%= "Статус: #{person.status}" %></li>
          <br />
          <% end %>

      </ul>
    </div>
  </div>
</div>
</form>