<h2>Добавление счёта в общий список</h2>
<form method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="surname">Фамилия</label>
      <input type="text" class="form-control" id="surname" name="surname" placeholder="Фамилия">
      <% if @errors %>
        <%= @errors[:space] %>
      <% end %>
    </div>
    <div class="form-group col-md-4">
      <label for="name">Имя</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Имя">
      <% if @errors %>
        <%= @errors[:space] %>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group ">
        <label for="dep_air">Пункт отправления</label>
        <input type="text" class="form-control" id="dep_air" name="dep_air" placeholder="Москва">
        <% if @errors %>
        <%= @errors[:departure_airport] %>
        <% end %>
    </div>
    <div class="form-group ">
        <label for="arr_air">Пункт назначения</label>
        <input type="text" class="form-control" id="arr_air" name="arr_air" placeholder="Берлин">
        <% if @errors %>
        <%= @errors[:arrival_airport] %>
        <% end %>
    </div>
  </div>

  <h3>Дата и время отправления</h3>
  <div class="form-row">
    <div class="form-group">
    <label for="day_dep">День</label>
    <input type="number" class="form-control" id="day_dep" name="day_dep" placeholder="21">
    <% if @errors %>
      <%= @errors[:day_dep] %>
    <% end %>
  </div>
    <div class="form-group">
    <label for="month_dep">Месяц</label>
    <input type="number" class="form-control" id="month_dep" name="month_dep" placeholder="12">
    <% if @errors %>
      <%= @errors[:month_dep] %>
    <% end %>
  </div>
    <div class="form-group">
    <label for="year_dep">Год</label>
    <input type="number" class="form-control" id="year_dep" name="year_dep" placeholder="2018">
    <% if @errors %>
      <%= @errors[:year] %>
    <% end %>
  </div>
    <div class="form-group">
      <label for="hour_dep">Часы</label>
      <input type="number" class="form-control" id="hour_dep" name="hour_dep" placeholder="12">
      <% if @errors %>
        <%= @errors[:h_dep] %>
      <% end %>
    </div>
    <div class="form-group">
      <label for="min_dep">Минуты</label>
      <input type="number" class="form-control" id="min_dep" name="min_dep" placeholder="45">
      <% if @errors %> 
        <%= @errors[:min_dep] %>
      <% end %>
    </div>
  </div>
  <div class="form-group ">
    <label for="id">Идентификатор заявки</label>
    <input type="number" class="form-control" id="id" name="id" placeholder="5000">
    <% if @errors %>
      <%= @errors[:negative] %>
    <% end %>
  </div>
  <button type="submit" class="btn btn-primary">Добавить</button>
  </div>
</div>
</form>