<h2>Список заявок</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <ul>
        <% @statement_by_param.each_with_index do |statement,index| %>
          <h3><%= "Рейс №#{statement.id}" %></h3>
          <li class="card-text" id=name name=name><%= "Имя: #{statement.name}" %></li>
          <li class="card-text" id=surname name=surname><%= "Фамилия: #{statement.surname}" %></li>
          <li class="card-text" id=departure_airport name=departure_airport><%= "Аэропорт отправления: #{statement.departure_airport}" %></li>
          <li class="card-text" id=arrival_airport name=arrival_airport><%= "Аэропорт прибытия: #{statement.arrival_airport}" %></li>
          <li class="card-text" id=date_departure name=date_departure><%= "Дата отправления: #{statement.date_departure}" %></li>
          <li class="card-text" id=time_departure name=time_departure><%= "Время отправления: #{statement.time_departure}" %></li>          <br />
          <div class="form-row">
          <div class="form-group col-md-3">
          </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>